/* * {
  box-sizing: border-box;
} */

.boxed {
  margin-top: 30px;
  width: 30%;
  font-size: 1em;
  background-color: #f1f1f1;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Float four columns side by side */
.column {
  float: left;
  width: 30%;
  padding: 0 10px;
}

/* make a section of HTML scrollable */
.scrollable {
  height: 460px; /* or any value */
  overflow-y: auto;
  scrollbar-width: none;

}

.title {
  color: black;
  vertical-align: middle;
  font-size: 2em;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

a.title:hover {
  color: #FFF;
  text-decoration: none;
}

.right-title {
  color: black;
  vertical-align: middle;
  font-size: 1.5em;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

a.right-title:hover {
  color: #FFF;
  text-decoration: none;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  margin-top: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  font-size: 1em;
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}

.mr-sidebar-left {
  height: 100%;
  width: 200px;
  background-color: #fff;
  position: fixed !important;
  z-index: 1;
  overflow: auto;
  left: 0;
}

.mr-sidebar-right {
  height: 100%;
  width: 200px;
  background-color: #fff;
  position: fixed !important;
  z-index: 1;
  overflow: auto;
  right: 0;
}

body {
  background-image: url("https://static.vecteezy.com/system/resources/previews/000/134/509/original/free-vector-livingroom.jpg");
  background-size: 75%;
  background-blend-mode: darken;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}
h2 {
  font-size: 1em;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #dedfeb;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #dedfeb;
  color: black;
  text-align: right;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding: 10px 20px;
}


.content-section {
  background: #dedfeb;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.weather {
  float: left;
  background: #dedfeb;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 50px;
  width:20%;
}

.roommate-tracker {
  float: left;
  background: #dedfeb;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 50px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
  background: #ffff;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}



.scrollable-view {
  position: absolute !important;
  width: 100% !important;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  overflow-y: hidden !important;
}