{% extends "main/base.html" %}

{% block content %}

<!-- Header -->
<header class="bg text-center py-5 mb-4">
  <div class="container">
    <h1 class="font-weight-light text-gray">Meet the Team</h1>
  </div>
</header>




<!-- Page Content -->
<div class="container">
  <div class="row">
    <!-- Team Member 1 -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="https://source.unsplash.com/Z0PPWKuN6Tc/500x350" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">San Yoon</h5>
          <div class="card-text text-black-50">Dude #1</div>
          <button class="button">Contact</button>
        </div>
      </div>
    </div>
    <!-- Team Member 2 -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="https://source.unsplash.com/YjSLXSvunqU/500x350" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Kacy Rowe</h5>
          <div class="card-text text-black-50">Dude #2</div>
          <button class="button">Contact</button>
        </div>
      </div>
    </div>
    <!-- Team Member 3 -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="https://source.unsplash.com/WUQtrfm0cTU/500x350" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Steven Mendoza</h5>
          <div class="card-text text-black-50">Dude #3</div>
          <button class="button">Contact</button>
        </div>
      </div>
    </div>
    <!-- Team Member 4 -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="https://source.unsplash.com/sSAqK4Ez5WY/500x350" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Brandon M.</h5>
          <div class="card-text text-black-50">Dude #4</div>
          <button class="button">Contact</button>
        </div>
      </div>
    </div>
    <!-- Team Member 5 -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="https://source.unsplash.com/p50nuZendPE/500x350" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Claude D.</h5>
          <div class="card-text text-black-50">Dude #5</div>
          <button class="button">Contact</button>
        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->

</div>
<!-- /.container -->

{% endblock content %}