{% load static %}
<!DOCTYPE html>
<html>
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'main/main.css' %}">

</head>
<body>
  <header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
      <div class="container">
        <div class="bg-steel">
        <div class="mr-sidebar-left w3-bar-block w3-border-right bg-steel" style="display:none" id="leftMenu">
          <button onclick="leftSideClose()" class="w3-bar-item w3-large">Close &times;</button>
          <a href="{% url 'main-about' %}" class="w3-bar-item w3-button">About</a>
          <a href="{% url 'main-bill' %}" class="w3-bar-item w3-button"><i class="fas fa-file-invoice-dollar"></i> Bills</a>
          <a href="#" class="w3-bar-item w3-button"><i class="fas fa-tasks"></i> Tasks / Chores</a>
          <a href="#" class="w3-bar-item w3-button"><i class="fas fa-hand-holding-usd"></i> Crowdfund</a>
          <a href="{% url 'main-roommates' %}" class="w3-bar-item w3-button"><i class="fas fa-user-friends"></i> Roommates</a>
          <a href="#" class="w3-bar-item w3-button"><i class="fas fa-calendar-alt"></i> Calendar</a>
          <a href="#" class="w3-bar-item w3-button"><i class="fas fa-tools"></i> Repairs</a>
          <a href="#" class="w3-bar-item w3-button"><i class="fas fa-shopping-cart"></i> Grocery</a>
          <a href="#" class="w3-bar-item w3-button"> Candy</a>
        </div>

        <button class="w3-button w3-xlarge" onclick="leftSideOpen()"><i class="fas fa-bars"></i></button>
        <a class="title" href="{% url 'main-home' %}">myRoomie</a>
        </div>
        <div class="bg-steel">
          <div class="mr-sidebar-right w3-bar-block w3-border-right bg-steel" style="display:none" id="rightMenu">
            <button onclick="rightSideClose()" class="w3-bar-item w3-large">Close &times;</button>
            <a href="{% url 'profile' %}" class="w3-bar-item w3-button">Account <i class="fas fa-user-circle"></i></a>
            <a href="#" class="w3-bar-item w3-button">Settings <i class="fas fa-user-cog"></i></a>
            <a href="#" class="w3-bar-item w3-button">Drugs <i class="fas fa-prescription-bottle-alt"></i></a>
            <a href="{% url 'logout' %}" class="w3-bar-item w3-button">Logout <i class="fas fa-sign-out-alt"></i></a>
          </div>
          <div class ="bg-steel">
            {% if user.is_authenticated %}
            <a class ="title" href = "{% url 'profile' %}">{{ user.username }}</a>
            {% else %}
            <a class ="title" href = "{% url 'register' %}">Register</a>
            {% endif %}
            <button class="w3-button w3-xlarge" onclick="rightSideOpen()"><i class="fas fa-user"></i></button>
          </div>
        </div>
        </div>
        <!-- Sidebar -->

      <!-- Page Content -->
        <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggle">
          <div class="navbar-nav mr-auto">
            <a class="nav-item nav-link" href="{% url 'main-home' %}">Home</a>
            <a class="nav-item nav-link" href="{% url 'main-about' %}">About</a>
            <a class="nav-item nav-link" href="{% url 'main-bill' %}">Bills</a>
          </div>
          <!-- Navbar Right Side -->
          <!-- <div class="navbar-nav">
            <a class="nav-item nav-link" href="#">Login</a>
            <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
          </div> -->
        </div>
      </div>
    </nav>
  </header>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
          {% if messages %}
            {% for messages in messages %}
                <div class="alert alert-{{ message.tags }}">
                  {{ message }}
                </div>
              {% endfor %}
          {% endif %}
          {% block content %}{% endblock %}
        </div>
        <div class="col-md-4">
          <div class="content-section">
            <h3>Our Sidebar</h3>
            <p class='text-muted'>This will most likely have a chatroom
              <ul class="list-group">
                <li class="list-group-item list-group-item-light">Latest Posts</li>
                <li class="list-group-item list-group-item-light">Announcements</li>
                <li class="list-group-item list-group-item-light">Calendars</li>
                <li class="list-group-item list-group-item-light">etc</li>
              </ul>
            </p>
          </div>
        </div>
      </div>
    </main>
    <div class="footer">
      <p>Organizing shared living space.</p>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../js/weather.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
      function leftSideOpen() {
        document.getElementById("leftMenu").style.display = "block";
      }
      
      function leftSideClose() {
        document.getElementById("leftMenu").style.display = "none";
      }
      function rightSideOpen() {
        document.getElementById("rightMenu").style.display = "block";
      }
      
      function rightSideClose() {
        document.getElementById("rightMenu").style.display = "none";
      }
      </script>
</body>
</html>
